/* AddProduct.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
.add-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.addproduct-itemfield,
.addproduct-price,
.addproductitem-field {
    width: 100%;
    margin-bottom: 20px;
}

.addproduct-itemfield p,
.addproduct-price p,
.addproductitem-field p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

.addproduct-itemfield input,
.addproduct-price input,
.addproductitem-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.addproduct-price input {
    type: text;
}

.add-product-selector {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.addproduct-items-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-product-img-thumbnail {
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}


/* AddProduct.css */

.add-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.add-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-button:hover:not(:disabled) {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .add-product {
        width: 95%;
    }
}